@import url("./estilos.css");

/* NAV */

.header__logo {
  color: var(--primary-light)
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.navbar__links {
  display: flex;
  gap: 1.5em;
  align-content: center;
  padding: 0;
  flex-wrap: wrap;
}

.navbar__links .link {
  text-decoration: none;
  color: var(--primary-regular);
  padding: .5em .75em;
  border-radius: .5em;
}

.navbar__links .link:hover {
  background-color: var(--green-800);
}

.navbar__links .link:focus,
.header__logo:focus {
  outline: 2px solid var(--outline-primary);
  outline-offset: 1px;
}

/* Article Summary */

.article-summary__header,
.article-amenities__header,
.article-amenities__p,
.article-amenities__h3,
.contact-content {
  text-align: center;
}

.h3__icon {
  display: inline;
  margin-right: 19.2px;
}

.article-summary__content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 4rem;
  padding: 2.6rem;
}

.article-amenities__content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  gap: 4rem;
  padding: 2.6rem;
}

.article-amenities__p,
.article-amenities__h3 {
  text-align: center;
}

.article__img {
  align-items: center;
  width: 277px;
  height: 230px;
  border-radius: 8px;
}
